<h1 class="title">Explore Baltimore's Events 🗺️</h1>
<h2 class="subtitle">Explore the events database and view individual events on the map</h2>
<ui-view></ui-view>
<div>
    <p class="control has-icon">
        <input class="input" type="text" placeholder="Search"
            data-ng-model="$ctrl.keyword"
            data-ng-model-options="{debounce: 200}"
            data-ng-change="$ctrl.onKeywordChanged()">
      <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th><a data-ng-click="$ctrl.sort('permitID')">Permit ID</a></th>
                <th><a data-ng-click="$ctrl.sort('name')">Name</a></th>
                <th><a data-ng-click="$ctrl.sort('start')">Start</a></th>
                <th><a data-ng-click="$ctrl.sort('end')">End</a></th>
                <th><a data-ng-click="$ctrl.sort('address')">Address</a></th>
                <th><a data-ng-click="$ctrl.sort('citationsCount')">Citations Count</a></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="event in $ctrl.results | orderBy : $ctrl.sortBy : $ctrl.reverse | limitTo : 8">
                <td>{{ event.permitID }}</td>
                <td><a ui-sref="home.event({ permitID: event.permitID })">{{ event.name }}</a></td>
                <td>{{ event.start | date : 'longDate' }}</td>
                <td>{{ event.end | date : 'longDate' }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.citationsCount }}</td>
            </tr>
        </tbody>
    </table>
</div>
