.rowdy-event-citations {
    padding: 1rem 0 0 0;
    font-size: 2em;
}
.rowdy-event-name {
    /* 6.5em = padding + line-height * 3 = (1rem * 2) + (1.5em * 3) */
    height: 6.5em;
    max-height: 6.5em;
    overflow-y: hidden;
}
